{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent () }}{% endblock %}

{% block body %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
   <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-5" src="../public/img/photo3.jpg" alt="" />
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Développeuse Web - Php / Symfony</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
         <div class="divider-custom-line"></div>
         <div class="divider-custom-icon"><i class="fab fa-wordpress"></i></i></i></i></div>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <div class="divider-custom-icon"><i class="fab fa-css3-alt"></i></i></i></div>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <div class="divider-custom-icon"><i class="fab fa-html5"></i></i></div>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <div class="divider-custom-icon"><i class="fab fa-php"></i></div>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <div class="divider-custom-icon"><i class="fab fa-symfony"></i></i></div>
         <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">Passionnée par le web, je peux réaliser votre site de A à Z</p>
   </div>
</header>
<body>
   <!--Formation-->
   <section class="page-section" id="formation">
      <div class="container">
         <div class="text-center">
            <h2 class="section-heading text-uppercase">Formation</h2>
         </div>
         <ul class="timeline">
            <li>
               <div class="timeline-image"><img class="rounded-circle img-fluid" src="../public/img/oc.png" alt="" /></div>
               <div class="timeline-panel">
                  <div class="timeline-heading">
                     <h4>OpenClassrooms</h4>
                     <h4>06/2020 - présent</h4>
                  </div>
                  <div class="timeline-body">
                     <p >Développeur d'application PHP/Symfony</p>
                  </div>
                  <div class="timeline-body">
                     <p >RNCP niveau 6 (Bac+3)</p>
                  </div>
               </div>
            </li>
            <li class="timeline-inverted">
               <div class="timeline-image"><img class="rounded-circle img-fluid" src="../public/img/lyon3.jpg" alt="" /></div>
               <div class="timeline-panel">
                  <div class="timeline-heading">
                     <h4>Université Jean Moulin Lyon 3</h4>
                     <h4>09/2015 - 09/2018</h4>
                  </div>
                  <div class="timeline-body">
                     <p >Licence LEA - Anglais/Espagnol</p>
                  </div>
               </div>
            </li>
            <li>
               <div class="timeline-image"><img class="rounded-circle img-fluid" src="../public/img/kaplan.png" alt="" /></div>
               <div class="timeline-panel">
                  <div class="timeline-heading">
                     <h4>KIC Manchester - Angleterre</h4>
                     <h4>01/2013 - 06/2013</h4>
                  </div>
                  <div class="timeline-body">
                     <p>Stage linguistique Anglais (Niveau C1 CECRL)</p>
                  </div>
               </div>
            </li>
            <li class="timeline-inverted">
               <div class="timeline-image"><img class="rounded-circle img-fluid" src="../public/img/pf.jpeg" alt="" /></div>
               <div class="timeline-panel">
                  <div class="timeline-heading">
                     <h4>Institut Paulo Freire, Bucaramanga - Colombie</h4>
                     <h4>06/2012</h4>
                  </div>
                  <div class="timeline-body">
                     <p >Baccalauréat Scientifique</p>
                  </div>
               </div>
         </ul>
      </div>
   </section>
   <!--Expérience-->
   <section class="page-section" id="experience">
      <div class="container">
         <div class="text-center">
            <h2 class="section-heading text-uppercase ">Expérience professionnelle</h2>
         </div>
         <div class="col-md-12">
            <div class="main-timeline-xp">
               <div class="timeline-xp">
                  <a class="timeline-content">
                     <div class="timeline-icon">
                        <i class="fas fa-tshirt"></i>
                     </div>
                     <h3 class="title">New Yorker - Vendeuse polyvalente</h3>
                     <h3 class="title">06/2017 - 02/2020</h3>
                     <p class="description">
                        Accueillir et conseiller les clients, approvisionner les rayons, encaisser les achats, vérifier l'étiquetage des prix, vérifier les stocks, comptabiliser les recettes en fin de journée
                     </p>
                  </a>
               </div>
               <div class="timeline-xp">
                  <a class="timeline-content">
                     <div class="timeline-icon">
                        <i class="fas fa-tshirt"></i>
                     </div>
                     <h3 class="title">Primark - Vendeuse polyvalente</h3>
                     <h3 class="title">10/2015 - 02/2016</h3>
                     <p class="description">
                        Accueillir et conseiller les clients, approvisionner les rayons
                     </p>
                  </a>
               </div>
               <div class="timeline-xp">
                  <a class="timeline-content">
                     <div class="timeline-icon">
                        <i class="fa fa-rocket"></i>
                     </div>
                     <h3 class="title">Parfumerie Ville Paris - Jeune entrepreneur</h3>
                     <h3 class="title">01/2006 - 02/2014</h3>
                     <p class="description">
                        Négociations fournisseur, suivi des commandes et gestion des stocks </br>
                        Géstion comptable, suivi de la trésorerie, déclaration fiscales et sociales </br>
                        Management d'une équipe de 4 personnes
                     </p>
                  </a>
               </div>
            </div>
            <div class="text-center">                        
               <button type="button" class="btn btn-primary btn-lg"onclick="window.open('../public/img/CV.pdf')">Télécharger CV </button>        
            </div>
         </div>
      </div>
   </section>
</body>
{% endblock %}