{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe - {{ parent () }}{% endblock %}

{% block body %}
<section class="page-section">
   <div class="container">
   <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Changement de mot de passe</h2>
   <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-key"></i></div>
      <div class="divider-custom-line"></div>
   </div>
   <div class="row">
      <div class="col-lg-8 mx-auto">
         <p><i>Le mot de passe de {{session.pseudo }} sera modifié</i></p>
         <form method="post" action="../public/index.php?route=updatePassword">
            <div class="control-group">
               <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label for="password">Mot de passe</label><br>                                
                  <input type="password" id="password" placeholder="Mot de passe" name="password"><br>
                  <p class="help-block text-danger"></p>
               </div>
               <br>
               <input type="submit" value="Mettre à jour" id="submit" name="submit">
               <br>
               </div<
         </form>
         <br>
         <a href="../public/index.php?route=blog" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Retour à l'accueil</a>
         </div>
      </div>
   </div>
</section>
{% endblock %}

